python-dotenv>=1.0.0
fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
aiomysql>=0.2.0
asyncpg>=0.29.0
pymysql>=1.1.0
cryptography>=41.0
pydantic>=2.0.0
python-multipart>=0.0.6
python-jose>=3.3.0
passlib>=1.7.4
bcrypt==4.0.1
openpyxl>=3.1.0
Pillow>=10.0.0
